# ignore compiled files
#######################

hw
insertionsort
mergesort
stoogesort
ternarySearch
makingChange
recursiveActivitySelector
greedyActivitySelector
roadTrip
schedWithP
fiboSteps

# ignore test files
###################

textFile.txt

# ignore vscodefiles
####################

.vscode/*